<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>331315801686-0hcdvdo15e87a8lmqnartjpuea9lr2jl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.331315801686-0hcdvdo15e87a8lmqnartjpuea9lr2jl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>331315801686-4co8knverqologscscu70sip0c3iqqd3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwCbSP-Qw1bRg5BvVco5x0VqxoBMAtLgs</string>
	<key>GCM_SENDER_ID</key>
	<string>331315801686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.guardiancare.guardianscare</string>
	<key>PROJECT_ID</key>
	<string>guardiancare-a210f</string>
	<key>STORAGE_BUCKET</key>
	<string>guardiancare-a210f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:331315801686:ios:f9b6693b41daae0d7595f7</string>
	<key>DATABASE_URL</key>
	<string>https://guardiancare-a210f-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>